body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.profile {
  background-image: gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, rgba(223, 237, 202, 0.9)),
    color-stop(100%, rgba(105, 210, 190, 0.9))
  );

  background-position: center;
  width: 200px;
  height: 200px;
  
  border-radius: 50%;
}
h1 {
  margin: 0;
}
